.wrap {
  display:flex;
  flex-direction: row;
}

.input {
  display: flex;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.output {
  display: flex;
  border: 1px solid blue;
  height: 100px;
  width: 100px;
}
