.def-popup {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 300px;
  height: auto;
  max-height: 300px;
  background-color: #f3ffc4;
  box-shadow: 10px 10px 5px #888888;
  color: black;
  margin: 0px;
  padding: 10px;
  border: 2px solid black;
  /*border-radius: 5px 30px 5px;*/
  border-radius: 10px;
  text-align: left;
  list-style: none;
  overflow: auto;
  font-size: 13px;
  z-index: 1000;
}

.def-popup li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  padding-bottom: 5px;
  padding-top: 5px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
}
