.def-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  width: 300px;
  height: auto;
  max-height: 400px;
  background-color: #f3ffc4;
  box-shadow: 10px 10px 5px #888888;
  color: black;
  margin: 0px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  list-style: none;
  overflow: auto;
  font-size: 13px;
  z-index: 1000;
}

.def-popup li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  padding-bottom: 5px;
  padding-top: 5px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
}





/*def-popup {
  font-size: normal;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  text-align: left;
  text-indent: none;
  text-transform: none;
  text-decoration: none;
  white-space: none;
  word-spacing: none;
  letter-spacing: none;
  line-height: 1.2em;

  background-color: white !important;
  color: black !important;

  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;

  position: relative;
  display: block;
  overflow: show;
  float: none;
  clear: none;
  opacity: 1;
  visibility: visible;
  list-style: none;

  -webkit-box-shadow: none;

  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}*/
